
/* My root Color Start */
:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}

/* Scroll Bars Start */
::selection {
    color: #fff;
    background-color: #7058C0;
}

/* width */
body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1B152E;
}

/* Handle on window-inactive */
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(27, 21, 46, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ED3822;
}

/* Scroll Bars End */