
/* My root Color */
:root {
    --primary: #13C5DD;
    --secondary: #354F8E;
    --light: #EFF5F9;
    --dark: #1D2A4D;
}

/* Selection Color */

::selection {
    color: #fff;
    background-color: #11c5dd;
}

/* Scroll Bars */

body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1B152E;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(27, 21, 46, 1);
}

::-webkit-scrollbar-thumb:hover {
    background: #ED3822;
}